html,
body,
* {
  box-sizing: inherit;
  font-family: "Thasadith", sans-serif;
  letter-spacing: .2rem;
  /* padding: 2rem 2rem; */
}
html {
  font-size: 62.5%;
}
::selection {
  background: teal;
  color: aliceblue;
}
body {
  margin: 0;
  padding: 0;
  background-size: cover;
  box-sizing: border-box;
  background-image: linear-gradient(
    to left top,
    rgb(1, 163, 163),
    rgb(1, 71, 71)
  );
}
.cv-container {
  padding: 0;
  margin: auto;
  display: flex;
  /* flex-direction: column; */
  width: 90%;
  margin: 10rem auto;
  -webkit-box-shadow: -14px 9px 49px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -14px 9px 49px -13px rgba(0, 0, 0, 0.75);
  box-shadow: -14px 9px 49px -13px rgba(0, 0, 0, 0.75);
}
header {
  overflow: hidden;
  display: flex;
  /* width: 30%; */
  padding: 1.5rem;
  white-space: nowrap;
  flex-direction: column;
  color: aliceblue;
  background-color: rgb(11, 11, 36);
}
.personalInfo > .head > svg {
  fill: rgb(1, 163, 163);
}
.personalInfo {
  padding: 2.5rem;
  color: rgb(1, 163, 163);
}
.personalInfo-title {
  display: flex;
  align-items: center;
}
.personalInfo-items {
  color: aliceblue;
  overflow: hidden;
}
.personalInfo-items a,
.personalInfo-items a:active {
  color: aliceblue;
}
.personalInfo-title > svg {
  fill: rgb(1, 163, 163);
  width: 2rem;
  height: 2rem;
  margin: 0 2rem 0 0;
}
h1 {
  /* font-size: 3.8rem; */
  color: aliceblue;
  letter-spacing: 1rem;
  margin: 1rem auto;
}
h2 {
  color: teal;
  font-size: 2.5rem;
}
h3 {
  color: teal;
  font-size: 2rem;
}
h4 {
  color: teal;
  font-size: 1.6rem;
}
p,
li,
a {
  font-size: 1.6rem;
  margin: 2rem 0;
  font-weight: bold;
}
.intro {
  padding-bottom: 2rem;
  text-align: center;
}
main {
  padding: 2.5rem;
  width: 80%;
  background-color: aliceblue;
}
/* .main-container {
  display: flex;
  justify-content: space-evenly;
} */
.head {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.head > svg {
  fill: teal;
  width: 3rem;
  height: 3rem;
  margin: 1rem;
  border-radius: 50%;
}
.main-item >section:not(:last-child){
  border-bottom: 0.5px solid rgba(0, 128, 128, 0.5);
}
.main-item {
  padding: 3rem;
}
.main-item:not(:last-child){
  border-bottom: 0.5px solid rgba(0, 128, 128, 0.5);
}
.education {
  border-top: 0.5px solid rgba(0, 128, 128, 0.5);
  border-bottom: 0.5px solid rgba(0, 128, 128, 0.5);
  margin-bottom: 2rem;
}
.education-items {
  box-sizing: content-box;
  margin: 2.5rem 0;
  width: 50%;
  padding: 1.5rem;
}
.education-container {
  display: flex;
  justify-content: space-evenly;
}
.education-container > :not(:last-child) {
  border-right: 0.5px solid rgba(0, 128, 128, 0.5);
}
.certifications-container{
  display: flex;
}
.certifications-items{
  width: 50%;
  padding: 1.5rem;
}
.certifications-items:not(:last-child) {
  border-right: 0.5px solid rgba(0, 128, 128, 0.5);
}
.skills {
  padding-left: 2.5rem;
}
.skills-item {
  padding: 0 1rem;
}
.rate {
  background-color: gainsboro;
  width: 100%;
  height: 0.5rem;
  margin-bottom: 2rem;
  position: relative;
}
.rate-65::before {
  content: "";
  width: 65%;
  height: 100%;
  bottom: 0;
  background-color: teal;
  position: absolute;
}
.rate-75::before {
  content: "";
  width: 75%;
  height: 100%;
  bottom: 0;
  background-color: teal;
  position: absolute;
}
.rate-80::before {
  content: "";
  width: 80%;
  height: 100%;
  bottom: 0;
  background-color: teal;
  position: absolute;
}
.rate-95::before {
  content: "";
  width: 95%;
  height: 100%;
  bottom: 0;
  background-color: teal;
  position: absolute;
}
.rate-90::before {
  content: "";
  width: 90%;
  height: 100%;
  bottom: 0;
  background-color: teal;
  position: absolute;
}
.rate-100::before {
  content: "";
  width: 100%;
  height: 100%;
  bottom: 0;
  background-color: teal;
  position: absolute;
}
.my-img {
  height: 15rem;
  margin: 3rem auto;
  width: 15rem;
  border-radius: 50%;
}
@media only screen and (max-width: 64.13em) {
  html {
    font-size: 55%;
  }
}
@media only screen and (max-width: 56.44em) {
  .cv-container {
    margin: 0;
    width: 100%;
  }
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 43.75em) {
  .cv-container {
    flex-direction: column;
  }
  header {
    width: 100%;
  }
  main {
    width: 100%;
  }
  .education-container {
    flex-direction: column;
  }
  .education-items {
    margin: 0;
    padding-bottom: 2.5rem;
    padding-right: 0;
    width: 100%;
  }
  .education-container > :not(:last-child) {
    border-right: none;
  }
  .certifications-container{
    flex-direction: column;
  }
  .certifications-items{
    width: 100%;
  }
  .certifications-items:not(:last-child) {
    border-right: none
  }
}
@media only screen and (max-width: 40em) {
  main {
    padding: 0;
  }
  .main-container {
    flex-direction: column;
  }
  .main-item {
    width: 100%;
    padding: 0;
  }
  .personalInfo,
  .education,
  .intro {
    padding: 2.5rem;
  }
  .personalInfo {
    border-right: none;
  }
  .skills {
    border-top: 0.5px solid rgba(0, 128, 128, 0.5);
    padding-top: 2.5rem;
  }
  .skills-item {
    padding: 1rem;
    border: none;
  }
  .skills-item:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.025);
  }
}
