html,
body,
* {
  box-sizing: inherit;
  font-family: "Thasadith", sans-serif;
  /* padding: 2rem 2rem; */
}
html {
  font-size: 62.5%;
}
::selection {
  background: teal;
  color: aliceblue;
}
body{
  margin: 0;
  padding: 0;
  background-size: cover;
  box-sizing: border-box;
  background-image: linear-gradient(to left top , rgb(0, 128, 128) , rgb(2, 87, 87));
}
.cv-container {
  padding: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 10rem auto;
  -webkit-box-shadow: -14px 9px 49px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -14px 9px 49px -13px rgba(0, 0, 0, 0.75);
  box-shadow: -14px 9px 49px -13px rgba(0, 0, 0, 0.75);
}
header {
  padding: 2.5rem;
  overflow: hidden;
  display: flex;
  height: 15rem;
  width: 100%;
  color: aliceblue;
  background-color: rgb(11, 11, 36);
}
h1 {
  font-size: 3.8rem;
  color: aliceblue;
  margin: auto 5rem;
  letter-spacing: 1rem;
  margin: auto;
}
h2 {
  color: teal;
  font-size: 2.5rem;
}
h3 {
  color: teal;
  font-size: 2rem;
}
h4 {
  color: teal;
  font-size: 1.6rem;
}
p,
li {
  font-size: 1.6rem;
  font-weight: bold;
}
.intro {
  padding-bottom: 2rem;
  text-align: center;
}
main {
  padding: 2.5rem;
  background-color: aliceblue;
}
.main-container {
  display: flex;
  justify-content: space-evenly;
}
.head {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.head > svg {
  fill: teal;
  width: 3rem;
  height: 3rem;
  margin: 1rem;
  border-radius: 50%;
}
.main-item {
  width: 50%;
  padding: 3rem;
}
.personalInfo {
  border-right: 0.5px solid rgba(0, 128, 128, 0.5);
}
.personalInfo-title {
  display: flex;
  align-items: center;
}
.personalInfo-title > svg {
  fill: teal;
  width: 2rem;
  height: 2rem;
  margin: 0 2rem 0 0;
}
.education {
  border-top: 0.5px solid rgba(0, 128, 128, 0.5);
  border-bottom: 0.5px solid rgba(0, 128, 128, 0.5);
  margin-bottom: 2rem;
}
.education-items {
  box-sizing: content-box;
  margin: 2.5rem;
  width: 33.33333%;
  padding-right: 2.5rem;
}
.education-container {
  display: flex;
  justify-content: space-evenly;
}
.education-container > :not(:last-child) {
  border-right: 0.5px solid rgba(0, 128, 128, 0.5);
}
.skills {
  padding-left: 2.5rem;
}
.skills-item {
  display: flex;
  padding: 0 1rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px solid rgba(0, 128, 128, 0.5);
}
.rate {
  display: flex;
  width: 30%;
  justify-content: space-around;
}
.rate > svg {
  width: 2rem;
  height: 2rem;
  fill: teal;
}
.my-img {
  height: 10rem;
  margin: auto 0;
  width: 10rem;
  border-radius: 50%;
}
footer {
  background-color: rgb(11, 11, 36);
  color: aliceblue;
  display: flex;
}
.footer-item {
  padding: 0.5rem;
}
@media only screen and (max-width: 64.13em) {
  html {
    font-size: 55%;
  }
}
@media only screen and (max-width: 56.44em) {
  html {
    font-size: 50%;
  }
  h1 {
    font-size: 2.7rem;
    margin: auto;
  }
}
@media only screen and (max-width: 43.75em) {
  h1{
    font-size: 2.2rem;
  }
  .education-container {
    flex-direction: column;
  }
  .education-items {
    margin: 0;
    padding-bottom: 2.5rem;
    padding-right: 0;
    width: 100%;
  }
  .education-container > :not(:last-child) {
    border-right: none;
    border-bottom: 0.5px solid rgba(0, 128, 128, 0.5);
  }
}
@media only screen and (max-width: 40em) {
  .cv-container {
    margin: 5rem auto;
  }
  main {
    padding: 0;
  }
  header {
    height: 10rem;
    padding: 0 1rem;
  }
  h1 {
    /* font-size: 1rem; */
  }
  .main-container {
    flex-direction: column;
  }
  .main-item {
    width: 100%;
    padding: 0;
  }
  .personalInfo,
  .education,
  .intro {
    padding: 2.5rem;
  }
  .personalInfo {
    border-right: none;
  }
  .skills {
    border-top: 0.5px solid rgba(0, 128, 128, 0.5);
    padding-top: 2.5rem;
  }
  .skills-item {
    padding: 1rem;
    border: none;
  }
  .skills-item:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.05);
  }
  .my-img {
    margin-right: 1.5rem;
    height: 7rem;
    width: 7rem;
  }
}
@media only screen and (max-width: 29.1em) {
  .cv-container {
    margin: 0;
    width: 100%
  }
  header {
    padding: 0;
  }
  h1 {
    width: 25%;
    margin: auto 0;
  }
  .my-img {
    margin: auto 3rem auto 3rem;
  }
}
